body
{
padding-top: 70px;


}
.navbar-inverse .navbar-nav>
.active>a, .navbar-inverse .navbar-nav>
.active>a:focus, .navbar-inverse .navbar-nav>
.active>a:hover 
{
    background-color:red
}

.navbar-inverse .navbar-nav>li>a
{
    color:#bbb;
    padding-top: 25px;
    padding-bottom:25px;
    font-size: 16px;
}
.navbar-default .navbar-brand
{
    color:#bbb;
    font-size: 30px;
    line-height: 30px;
   
}
.navbar-default .navbar-brand span
{
    color:red
}
.navbar-nav>li>
.dropdown-menu
{
    background-color:#333
    
}
.dropdown-menu>li>a 
{
    padding: 6px 20px;
    color: red;
}
.navbar-right .dropdown-menu
{
    right:auto;
    left:0;
}
.carousel-caption
{
bottom: 50px;
padding-left: 10px;
padding-right: 10px;
background:rgba(3,3,3,0.3);
}

/*section*/
.about h1 span
{
    color: red;
}


.features
{
background-color:#eee ;
padding-top:50px ;
padding-bottom: 50px;
}
.testimonials
{
    padding-top: 50px;
    padding-bottom:50px ;
}
.testimonials h1
{
    font-weight: bold;
    margin-bottom: 20px;
}
.testimonials span
{
    font-size: 12px;
    font-weight: bold;
    color: red;
}
.testimonials.carousel-inner
{
    min-height: 160px;
}
.testimonials.carousel-indicators
{
    position: static;
    width: 100%;
    margin-left: auto;
    padding-top: 20px;
}
.testimonials.carousel-indicators li
{
    text-indent: 0px;
    width: 80px;
    height: 80px;
}
.price_table h1
{
    margin-bottom: 40px;
}
.price_table 
{
    background-color: #eee;
    padding-top: 40px;
    padding-bottom: 40px;

}
.price_table .price_box
{
    background: #fff;
    padding: 10px;
    border: 1px solid #DDD;
}
.price_table .price_box h2
{
    margin: 5px 0 15px ;
}
.price_table .price_box p
{
    font-size: 35px;
    font-weight: bold;
    color: #666;
}
.price_table .price_box ul
{
    line-height: 250%;
    font-size: 18px;
}
.price_table .price_box a
{
    margin-bottom: 5px;
}
  
.ouer-team
{

    background:url("../photo.jpg") no-repeat center  fixed;
    -webkit-background-size:cover ;
    width:100%;
    min-height: 600px;

}
.ouer-team h1
{
    margin-bottom: 60px;
}

.ouer-team .team
{
    background:rgba(2,2,2,0.8);
    color:#fff;
    min-height: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
}
/*start section subcribes */
.subscribe
{
padding-bottom: 40px;
padding-top: 40px;
background: #eee;
}
.subscribe h1
{
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.subscribe .form-control
{
    border-radius: 0;
    margin-right: -5px;
     width: 300px;
}
.subscribe button
{
    border-radius: 0;
}
/*end section subcribes */

/*start statistics */
.statistics
{
    background: url("../D6WZdQ.jpg") fixed center center no-repeat;
    -webkit-background-size:cover ;
    min-height: 300px;
}
.statistics .data
{
    background: rgba(2,2,2,0.7);
    color: #b6b5b5;
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.statistics h1
{
    margin-bottom: 60px;
}
.statistics .statis
{
-webkit-transition: all 0.5s ease-in-out;
margin-bottom: 30px;

}

.statistics .statis:hover
{
color: #fff;
}

.statistics p
{
    font-size: 60px;
    font-weight: 600;
    margin-bottom:  0px;
}
.statistics span
{
font-size: 16px;

}
/*end statistics */

/*strt section our skills */
.skills
{
    padding-top: 40px;
    padding-bottom: 60px;
}
.skills h1
{
    margin-bottom: 60px;
}
.skills h2
{
    font-weight: bold;
    margin-top: 0px;
}
.skills .progress
{
    height: 36px;
}
.skills .progress-bar
{
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}

.contact-us
{
    background: url("../contuct-us.jpg") fixed center center no-repeat;
    -webkit-background-size:cover ;
    min-height: 300px;
}

.contact-us .file
{
    background: rgba(9, 9, 9,0.8);
    color: #ddd;
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 40px;

}
.contact-us p 
{
margin-bottom: 40px;
}
.contact-us textarea
{
    height: 106px;
}
.contact-us input[type="text"],
.contact-us textarea
{
    background: rgba(82,78 ,78 ,0.7 );
    color: #fff;
    border: none;
}
/*strt section our skills */

/* start footer  */
.footer 
{
    background: #111;
    color: #aaa;
    padding-top: 20px;
    
}
.footer h3
{
color:#0895D1 ;
letter-spacing: 1px;
margin: 20px 0 20px;
}
.footer .three-columns
{
overflow: hidden;
}
.footer .three-columns li
{
width: 33.3333%;
float: left;
padding:5px 0  ;
}
.footer .social-list
{
    overflow: hidden;
    margin: 20px 0 10px ;
}
.footer .social-list li
{
    float: left;
    margin-right: 3px;
    opacity: 0.7;
    filter: alpha(opacity=70); 

}
.footer .social-list li:hover
{
    opacity: 1;
    
}
.footer .img-thumbnail
{
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #666;
    margin-bottom: 5px;
}
.footer .copyright
{
    background: #333;
    color: #aaa;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 18px;
}
.footer .copyright span
{
color: #0895D1;
}
/* end footer  */
@media(max-width:767px)
{
    .navbar-inverse .navbar-nav>li>a
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .subscribe .form-control
    {
        margin: 20px auto;
    }
}
/* start tool option */
.option-box
{
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 9999;
    
}
.option-box .color-option
{
    float: left;
    background:#333 ;
    color: #fff;
   padding: 10px;
   width: 200px;
   border: 4px solid red;
   display: none;
}
.option-box .color-option ul li 
{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #f00;
    margin-right: 2px;
}
.option-box .gear-chick
{
    background: red;
    padding: 5px;
    color:#fff
}
/* end tool option */
.carousel-inner>.item>img
{
    width: 100%;
}